*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #eee;
  color: #333;
  font-family: sans-serif;
  overflow-x: hidden; }

#root {
  display: flex;
  height: 100%; }

nav ul {
  list-style-type: none; }
  nav ul li a {
    color: #333;
    text-decoration: none; }

select, input {
  border-radius: 1rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%; }

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0; }
  .column label {
    margin: 0.5rem 0 0; }

header {
  background: #dedede;
  display: flex;
  flex-direction: column;
  width: 100vw; }

#mainHeader {
  border-bottom: 0.125rem solid #333;
  display: flex;
  justify-content: space-around;
  align-items: center; }

#brand a {
  color: #333;
  font-family: 'Righteous', cursive;
  font-size: 1.5rem;
  font-weight: 900;
  text-decoration: none; }

#getDataButton {
  background: #fff;
  font-size: 0.75rem;
  padding: 0.5rem; }

#subheader {
  padding: 0.5rem; }
  #subheader p {
    color: #333;
    font-size: 1rem;
    max-width: 90vw;
    text-align: center; }

main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  transition: all 0.5s ease-in-out; }

button {
  background: #ccc;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0; }

#formSection {
  background: #eee;
  display: flex;
  align-items: center;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%; }

#formInputSection {
  display: flex;
  width: 100%;
  justify-content: space-around; }

#userOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem; }

#mainNav a {
  color: #333;
  text-decoration: none; }

#openNav {
  display: none; }

#closeNav {
  display: none; }

#formInput {
  padding: 0 1rem; }
  #formInput #getLocation {
    margin-bottom: 1.5rem; }
  #formInput #formLabel {
    white-space: pre;
    font-weight: 900;
    margin: 0; }
  #formInput form {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem; }
    #formInput form label {
      font-size: 1rem; }

#outputContainer {
  background: #fefefe;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  width: 100%; }
  #outputContainer p {
    margin: 0; }
    #outputContainer p b {
      margin-right: 0.5rem; }

#dataOutput {
  display: flex;
  width: 100%;
  justify-content: space-around; }

#clothesData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%; }
  #clothesData > p {
    font-weight: 900;
    font-size: 1.25rem;
    margin: 1rem 0; }
  #clothesData ul li {
    margin: 0.5rem 0 1rem; }
    #clothesData ul li img {
      width: 30%;
      height: auto;
      min-width: 50px;
      max-width: 30vw; }

#scoreData {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 2rem; }
  #scoreData #mainParticulate, #scoreData #weatherScoreRating {
    margin-left: 1rem; }
  #scoreData i {
    font-size: 3rem;
    margin: 1.5rem 0; }
  #scoreData span {
    margin: 0.5rem 0;
    font-weight: bold; }
  #scoreData p {
    display: flex;
    flex-direction: column; }
    #scoreData p span {
      margin: 0.125rem 0; }

.wi-day-sunny {
  animation: rotation 24s infinite linear; }

@keyframes rotation {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(359deg); } }

.wi-day-sunny-overcast {
  animation: pulse 24s infinite linear; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

#locationData p {
  margin: 0.5rem 0; }

#map {
  display: flex;
  position: relative;
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: auto;
  max-width: 100vw; }

#about, #scheduler {
  min-height: 70vh; }
  #about h2, #about p, #about a, #scheduler h2, #scheduler p, #scheduler a {
    padding: 1rem 0; }

#scheduler p {
  width: 80vw; }

#scheduler label {
  margin: 2rem 0 0; }

#scheduler select {
  width: 50vw; }

footer {
  background: #333;
  color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100vw; }
  footer span a {
    color: #eee;
    text-decoration: none; }

.green {
  color: green; }

.blue {
  color: blue; }

.yellow {
  color: yellow; }

.red {
  color: red; }

@media (min-width: 768px) {
  nav {
    margin-right: 1rem; }
    nav ul li {
      padding: 0 1rem; }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    min-height: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    position: relative; }
  #formSection {
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    width: 7.5vw; }
    #formSection #formLabel, #formSection #getLocation, #formSection form, #formSection #userOptions {
      opacity: 0;
      z-index: -1; }
    #formSection:target {
      width: 60vw; }
      #formSection:target #scoreData, #formSection:target #map {
        width: 10vw; }
      #formSection:target #formLabel, #formSection:target #getLocation, #formSection:target form, #formSection:target #userOptions {
        opacity: 1;
        z-index: 1;
        transition: 0.5s all 0.3s ease; }
      #formSection:target #mainNav a {
        right: 0.5rem;
        transition: 0.5s all 0.3s ease; }
      #formSection:target #openNav {
        display: none; }
      #formSection:target #closeNav {
        display: block; }
  #openNav {
    display: block; }
  #closeNav {
    display: none; }
  #outputContainer {
    height: 100%; }
  #clothesData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 0; }
    #clothesData nav ul {
      display: flex;
      flex-flow: column wrap;
      max-height: 100%;
      width: 50%; }
      #clothesData nav ul li {
        margin: 1rem 0;
        width: 100%; }
        #clothesData nav ul li img {
          width: 25%;
          height: auto; }
        #clothesData nav ul li p {
          margin: 0.5rem 0; }
  #map {
    top: 15vh;
    width: 91.5vw;
    height: 100%; }
  footer {
    position: relative;
    top: 15vh; } }
