*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fefefe;
  font-family: sans-serif;
  overflow-x: hidden;
}

#root {
  display: flex;
  height: 100%;
}

header {
  background: #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100vw;
}


nav ul {
  display: flex;
  list-style-type: none;

  li {
    margin: 0 0.5rem;

    a {
      color: #000;
      text-decoration: none;
    }

  }

}

#brand h1 {
  font-family: 'Righteous', cursive;
  font-size: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.5s ease-in-out;
}

#formSection {
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

main h2 {
  padding: 1rem 0;
  position: relative;
}

#mainNav a {
  color: #333;
  position: absolute;
  text-decoration: none;
  top: 0.5rem;
  right: 35%;
}

#openNav {
  display: none;
}

#closeNav {
  display: none;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  position: relative;

  label {
    font-size: 1.25rem;
  }

  input {
    border-radius: 10%;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  button[type='submit'] {
    background: #ccc;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
  }

}

#dataOutput {
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  p {
    margin: 1rem 0;

    b {
      margin-right: 1rem;
    }

    span {
      font-size: 1.25rem;
    }

  }

}

footer {
  background: #333;
  color: #eee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  
  span a {
    color: #eee;
    text-decoration: none;
  }

}

@media (min-width: 768px) {

  nav {
    margin-right: 1rem;

    ul li {
      padding: 0 1rem;
    }

  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70vh;
    min-height: 100%;
    text-align: center;
    transition: all 0.5s ease-in-out;
    position: relative;
  }

  #formSection {
    background: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    width: 7.5vw;
    height: 100%;

    h2, form {
      opacity: 0;
      z-index: -1;
    }

    &:target {
      width: 60vw;

      h2, form {
        opacity: 1;
        z-index: 1;
        transition: 0.5s all 0.3s ease;
      }

      #mainNav a {
        right: 0.5rem;
        transition: 0.5s all 0.3s ease;
      }

    }

    &:target #openNav {
      display: none;
    }

    &:target #closeNav {
      display: block;
    }


  }

  #openNav {
    display: block;
  }

  #closeNav {
    display: none;
  }

}
