header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 0.5rem;
}

main, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

main form {
  width: 75vw;
}

main form label {
  font-size: 1.25rem;
}

main form input {
  border-radius: 10%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

button[type='submit'] {
  background: #ccc;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

#dataOutput {
  display: flex;
  flex-direction: column;
}

#dataOutput p {
  margin: 1rem 0;
}

#dataOutput p b {
  margin-right: 1rem;
}

#dataOutput p span {
  font-size: 1.25rem;
}

footer {
  display: flex;
  justify-content: space-around;
  padding-top: 10vh;
}
